{% extends 'base.html' %}
{% block title %}
    Main Page
{% endblock title %}

{% block body %}
<div class="container-fluid py-3 px-3 ">
    <form action="" method="GET">
    {% csrf_token %}
    <div class="row justify-content-center py-3 bg-light">
        <div class="col-lg-1">
            <label for="type_select">Type</label>
            <select class="form-control" name="type_select" id="type_id">
                <option value="0">Type</option>    
                <option value="1">Room</option>
                <option value="2">Local</option>    
            </select>
        </div>
        <div class="col-lg-1">
            <label for="min_price">Min price</label>
            <input class="form-control mr-sm-2" type="number" placeholder="Min price" name="min_price" aria-label="Search">
        </div>
        <div class="col-lg-1">
            <label for="max_price">Max price</label>
            <input class="form-control mr-sm-2" type="number" placeholder="Max price" name="max_price" aria-label="Search">
        </div>
        <div class="col-lg-1">
            <label for="capacity_select">Person</label>
            <input class="form-control mr-sm-2" type="number" placeholder="Person" name="capacity" aria-label="Search">
        </div>
        <div class="col-lg-1">
            <label for="min_size">Min size</label>
            <input class="form-control mr-sm-2" type="number" placeholder="Min size" name="min_size" aria-label="Search">
        </div>
        <div class="col-lg-1">
            <label for="max_size">Max size</label>
            <input class="form-control mr-sm-2" type="number" placeholder="Max size" name="max_size" aria-label="Search">
        </div>
        <div class="col-lg-1">
            <label for="number_of_rooms">Rooms number</label>
            <input class="form-control mr-sm-2" type="number" placeholder="Rooms nr" name="number_of_rooms" aria-label="Search">
        </div>
        <div class="col-lg-1">
            <input type="submit" value="Filter" class="form-control mr-sm-2 btn btn-primary my-4" style="position: relative;">
        </div>
    </div>
</form>

</div>
</section>
    <div class="row mt-3">
        <div class="col-md-auto">
            {% for offert in offerts%}
                
                    <figure class="col-md-auto figure">
                        {% if offert.img %}
                        <img class="figure-img" src="{{ offert.img.url }}" alt="Offert image" 
                             style="width: 400px; height: 350px"/>
                        {% else %}
                            <img class="figure-img" src="/static/no_image.webp" alt="Offert image" 
                                style="width: 400px; height: 350px"/>
                       
                        {% endif %}
                        <figcaption class="figure-caption" style="width:300px">
                            <div class="container fs-5">
                                <div class="row">
                                    {% if offert.offer_type == "1" %}
                                    <div class="col-sm">
                                        Type: Room
                                    </div>
                                    {% endif %}
                                    {% if offert.offer_type == "2" %}
                                    <div class="col-sm">
                                        Type: Local
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                      Price: {{ offert.price }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-auto" style="display:block">
                                        Size: {{ offert.size }}
                                    </div>
                                </div>
                                <div class="row">
                                    {% if offert.offer_type == "1" %}
                                    <div class="col-sm">
                                        Capacity: {{ offert.capacity }}
                                    </div>
                                    {% endif %}
                                    {% if offert.offer_type == "2" %}
                                    <div class="col-sm">
                                        Rooms number: {{ offert.number_of_rooms }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row mt-3">
                                    <div class="col text-center">
                                        <a class="float-center btn btn-primary w-50" href="{% url 'offert_details' offert.id %}">View details</a>
                                
                                    </div>        
                                </div>
                            </div>
                        </figcaption>
                    </figure>
            {% endfor%}  
        </div>
    </div>
{% endblock body %}