{% extends 'base.html' %}
{% block title %}
    Offert details
{% endblock title %}

{% block body %}
<div class="text-center">
<h2>Offert details</h2>
{% if offert.img %}
<img class="figure-img" src="{{ offert.img.url }}" alt="Offert image" style="width: 400px; height: 350px"/>
{% else %}
<img class="figure-img" src="/static/no_image.webp" alt="Offert image" style="width: 400px; height: 350px"/>
{% endif %}
</div>
<div class="container break-text">
    <div class="row fw-bolder" style="font-size: x-large;">
      <div class="col">
      </div>
      <div class="col">
        Offert info
      </div>
      <div class="col">
      </div>
      <div class="col">
        Contact info
      </div>
    </div>
    <div class="row">
        <div class="col left">
            Type:
        </div>
        <div class="col">
            {% if offert.offer_type == "1" %}
            Room
            {% else %}
            Local
            {% endif %}
        </div>
        <div class="col left">
            Name, Surname:
        </div>
        <div class="col">
          {{offert.user.first_name}} {{offert.user.last_name}} 
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Price:
        </div>
        <div class="col">
          {{offert.price}}
        </div>
        <div class="col left">
            Mail:
        </div>
        <div class="col">
          {{offert.user.email}}
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Size:
        </div>
        <div class="col">
          {{offert.size}}
        </div>
        <div class="col left">
            Phone number:
        </div>
        <div class="col">
          {{offert.user.phone_number}}
        </div>
    </div>
    <div class="row">
        <div class="col left">
            {% if offert.offer_type == "1" %}
            Capacity:
            {% else %}
            Number of rooms:
            {% endif %}
        </div>
        <div class="col">
            {% if offert.offer_type == "1" %}
            {{offert.capacity}}
            {% else %}
            {{offert.number_of_rooms}}
            {% endif %}
        </div>
        <div class="col text-break left">
            Description:
        </div>
        <div class="col">
          {{offert.user.description}}
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Description:
        </div>
        <div class="col text-break">
          {{offert.description}}
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Address:
        </div>
        <div class="col text-break">
            {{ offert.address1 }} 
            {% if offert.address2 %} {{ offert.address2 }} {% endif %}
            , {{offert.city}}, {{ offert.country}} 
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
  </div>
{%if allow_reservation%}
<div class="d-flex justify-content-center mt-5">
    <a class="btn btn-primary w-25" href="{% url 'make_reservation' offert.id %}">Make reservation</a>
</div>
{%endif%}
<section class="text-center mt-5 mb-5 d-flex justify-content-center">
  {%if request.user.is_authenticated %}
  <div class="shadow-lg bg-white rounded w-50 p-3">
    {% csrf_token %}
            <h4 class="mb-1">Add comment</h4>
            <span onclick="gfg(1)"
                  class="star">★
            </span>
            <span onclick="gfg(2)"
                  class="star">★
            </span>
            <span onclick="gfg(3)"
                  class="star">★
            </span>
            <span onclick="gfg(4)"
                  class="star">★
            </span>
            <span onclick="gfg(5)"
                  class="star">★
            </span>
            <h5 id="output">
                  Rating is: 0/5
            </h5>
            <label class="mt-2" for="comment">Comment:</label> <br/>
            <textarea class="w-75 comment-text" id="comment" name="comment" required></textarea><br/>
            <button class="btn btn-dark w-10 mt-2 save-opinion" type="button" 
                    data-csrf="{{ csrf_token }}" data-offert="{{ offert.id }}">
              Submit Comment
            </button>
  </div>   
  {%endif%}
</section> 
<div class="opinion-wrapper">
{% if comments %}
{% for comment in comments %}
  <div class="card mb-2 mt-2">
    <div class="card-body">
        <p style="font-size: 1.3rem;">{{comment.comment}}</p>
        <p>
          <b>Added by:</b> {{comment.autor}} on {{comment.date}}<br/>
          <b>Rating:</b> {{comment.rating}}/5
        </p>
    </div>
  </div>
{% endfor %}
</div>
{%endif%} 
{% endblock body%}