{% extends 'base.html' %}
{% block title %}
    Offert details
{% endblock title %}

{% block body %}
<div class="text-center">
<h2>Offert details</h2>
{% if offert.img %}
<img class="figure-img" src="{{ offert.img.url }}" alt="Offert image" style="width: 400px; height: 350px"/>
{% else %}
<img class="figure-img" src="/static/no_image.webp" alt="Offert image" style="width: 400px; height: 350px"/>
{% endif %}
</div>
<div class="container break-text">
    <div class="row fw-bolder" style="font-size: x-large;">
      <div class="col">
      </div>
      <div class="col">
        Offert info
      </div>
      <div class="col">
      </div>
      <div class="col">
        Contact info
      </div>
    </div>
    <div class="row">
        <div class="col left">
            Type:
        </div>
        <div class="col">
            {% if offert.offer_type == "1" %}
            Room
            {% else %}
            Local
            {% endif %}
        </div>
        <div class="col left">
            Name, Surname:
        </div>
        <div class="col">
          {{user.first_name}} {{user.last_name}} 
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Price:
        </div>
        <div class="col">
          {{offert.price}}
        </div>
        <div class="col left">
            Mail:
        </div>
        <div class="col">
          {{user.email}}
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Size:
        </div>
        <div class="col">
          {{offert.size}}
        </div>
        <div class="col left">
            Phone number:
        </div>
        <div class="col">
          {{user.phone_number}}
        </div>
    </div>
    <div class="row">
        <div class="col left">
            {% if offert.offer_type == "1" %}
            Capacity:
            {% else %}
            Number of rooms:
            {% endif %}
        </div>
        <div class="col">
            {% if offert.offer_type == "1" %}
            {{offert.capacity}}
            {% else %}
            {{offert.number_of_rooms}}
            {% endif %}
        </div>
        <div class="col text-break left">
            Description:
        </div>
        <div class="col">
          {{user.description}}
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Description:
        </div>
        <div class="col text-break">
          {{offert.description}}
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col left">
            Address:
        </div>
        <div class="col text-break">
            {{ offert.address1 }} 
            {% if offert.address2 %} {{ offert.address2 }} {% endif %}
            , {{offert.city}}, {{ offert.country}} 
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
  </div>
{% endblock body%}